.icon-container {
    @apply flex w-fit items-center justify-center rounded-full px-[6px] shadow-lg sm:rounded-md;
}

.bug {
    width: 14px;
    background: #92bc2c;
    box-shadow: 0 0 20px #92bc2c;
}

.dark-icon {
    width: 14px;
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    width: 14px;
    background: #0c69c8;
    box-shadow: 0 0 20px #0c69c8;
}

.electric {
    width: 14px;
    background: #f2d94e;
    box-shadow: 0 0 20px #f2d94e;
}

.fire {
    width: 14px;
    background: #fba54c;
    box-shadow: 0 0 20px #fba54c;
}

.fairy {
    width: 14px;
    background: #ee90e6;
    box-shadow: 0 0 20px #ee90e6;
}

.fighting {
    width: 14px;
    background: #d3425f;
    box-shadow: 0 0 20px #d3425f;
}

.flying {
    width: 14px;
    background: #a1bbec;
    box-shadow: 0 0 20px #a1bbec;
}

.ghost {
    width: 14px;
    background: #5f6dbc;
    box-shadow: 0 0 20px #5f6dbc;
}

.grass {
    width: 14px;
    background: #5fbd58;
    box-shadow: 0 0 20px #5fbd58;
}

.ground {
    width: 14px;
    background: #da7c4d;
    box-shadow: 0 0 20px #da7c4d;
}

.ice {
    width: 14px;
    background: #75d0c1;
    box-shadow: 0 0 20px #75d0c1;
}

.normal {
    width: 14px;
    background: #a0a29f;
    box-shadow: 0 0 20px #a0a29f;
}

.poison {
    width: 14px;
    background: #b763cf;
    box-shadow: 0 0 20px #b763cf;
}

.psychic {
    width: 14px;
    background: #fa8581;
    box-shadow: 0 0 20px #fa8581;
}

.rock {
    width: 14px;
    background: #c9bb8a;
    box-shadow: 0 0 20px #c9bb8a;
}

.steel {
    width: 14px;
    background: #5695a3;
    box-shadow: 0 0 20px #5695a3;
}

.water {
    width: 14px;
    background: #539ddf;
    box-shadow: 0 0 20px #539ddf;
}
