.bottom-nav-container {
  border-radius: 37px;
  border: 1px solid rgba(255, 255, 255, 0.86);
  background: linear-gradient(
    104deg,
    rgba(255, 255, 255, 0.421) 31.05%,
    rgba(255, 255, 255, 0.186) 82.5%
  );
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}
